body {
    margin: 0;
    font-family: Arial;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 300px;
    background: #111;
    color: white;
    padding: 10px;
    overflow-y: auto;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    background: #222;
    padding: 10px;
    margin-bottom: 8px;
    cursor: grab;
    border-radius: 6px;
  }
  
  #map {
    flex: 1;
  }
  